<!DOCTYPE html>
<html>
<head>
  <title>Proyecto Ruby Dennise Pintado</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= image_tag "portada3.jpg", :alt => "maparobot ", :title => "maparobot", :class => "imagen "%>

<h1>Ciencias Computacionales</h1><br>
<p>
<h2>Visión</h2>
Ser líderes en la formación de profesionales de Ingeniería en Ciencias Computacionales a nivel regional.</p>
<p>
<h2>Misión</h2>
Formar ingenieros en ciencias computacionales que a lo largo de su vida profesional potencien sus capacidades 
de investigar, proponer, diseñar e implementar soluciones a problemas, de nuestro país y la región, dentro de 
equipos interdisciplinarios, aplicando competencias fundamentales en su campo considerando aspectos sociales,
 económicos y ambientales, enmarcados en lo ético y lo moral.</p>
</body>
</html>
